<body>
  <br />
  <br />
  <div class="d-sm-flex align-items-center justify-content-between">
    <div class="container col-md-6">
      <div class="">
        <img class="img-fluid" src="<%=asset_path("spotify/pexels-vova-krasilnikov-2796145.jpg")%>"
          style="height:100vh;" alt="Music-related image">
      </div>
    </div>
    <div class="container col-md-6">
      <div class="">
        <h2 class="mt-5 mb-0 text-indigo">Bienvenue sur la roulette musicale</h2>
      </div>
      <div class="wrapper">
        <div class="mt-5 row">
          <div class="">
            <p class="mb-0 text-indigo">
              Cherche un artiste et obtiens une de ses musiques au hasard
            </p>
          </div>
        </div>
        <div class="mt-5 row">
           <%= form_tag(spotifies_path, method: "get") do %>
                <%= label_tag(:artist, "Quel artiste veux-tu écouter ?") %>
                <%= text_field_tag(:artist)%>
                <%= submit_tag("Search") %>
                <% end %>
        </div>
      </div>
      <div class="wrapper">
        <div class="row">
         <%if @artist != nil%>
                <p>Voila ce qu'on t'a trouvé :
                <p>
                <ul>
                    <li>Artiste : <%=@artist.name%></li>
                    <li>Album : <%=@album.name%></li>
                    <li>
                        <p>Tu peux écouter ce titre sur Spotify :</p>
                        <a href=<%=@uri%> target="_blank"><%=@track.name%></a>
                    </li>
                </ul>
                <%end%>
        </div>
      </div>
    </div>
  
</body>