<div class="container devise-page">
    <div class="row">
        <div class="col-md-10 mx-auto">

            <p>Hello <%= @email %>!</p>

            <% if @resource.try(:unconfirmed_email?) %>
            <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
            <% else %>
            <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
            <% end %>

        </div>
    </div>
</div>