<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tu viens de soumettre ton feedback.</title>
  <link rel="stylesheet" href="style.css" />
  <style>
    .email-background {
      background: #eee;
      padding: 10px;
    }

    .email-container,
    .pre-header,
    .footer {
      max-width: 500px;
      background: #dddbf8;
      font-family: sans-serif;
      margin: 0px auto;
      overflow: hidden;
      border-radius: 5px;
    }

    .pre-header {
      background: #eee;
      color: #eee;
      font-size: 5px;
    }

    img {
      max-width: 100%;
    }

    h1,
    h2 {
      margin: 10px 30px;
    }

    p {
      margin: 20px;
      font-size: 18px;
      color: #222324;
      line-height: 1.5;
      font-weight: 300;
    }

    .confirm-email {
      text-align: center;
      margin: 20px;
      text-decoration: none;
      display: inline-block;
      background: #6558f5;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 20px;
    }

    .footer {
      background: none;
      text-align: center;
      padding: 20px;
      font-size: 14px;
    }

    .footer,
    a {
      text-decoration: none;
      color: #222324;
    }
  </style>
</head>

<body>
  <div class="email-background">
    <div class="pre-header">
      Tu viens à l'instant de soumettre un feedback sur Feedward. L'application qui te
      permet d'évaluer ton équipe mangériale en toute sérénité.
    </div>
    <div class="email-container">
      <h1>Nous avons bien recu ton feedback !</h1>
      <h2>
        Tu viens juste de remplir un feedback sur Feedward en utilisant l'e-mail suivant : <%= @user.email %>.
      </h2>
      <img src="https://media.giphy.com/media/G22vVm4jcPeco/source.gif" alt="Bravo!">
      <p>
        Seule la personne en charge des ressources humaines
        de ton entreprise et éventuellement la personne que tu as choisi, auront
        accès à ce fichier dans le détail.<br />
      </p>
      <div class="confirm-email">
        <%= link_to "Synthèse de tes feedbacks.", dashboard_url %><br />
      </div>
      </p>
      <p>Merci pour ta confiance.</p>
      <p>À très vite sur Feedward !</p>
    </div>
    <div class="footer">
      <a href="http://getfeedward.com/">Visiter le site</a> | <a href="mailto: contact@getfeedward.com">Nous
        contacter</a>
    </div>
  </div>
</body>

</html>