<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu viens de soumettre ton feedback.</title>
    <link rel="stylesheet" href="style.css" />
    <style>
        .email-background {
            background: #eee;
            padding: 10px;
        }

        .email-container,
        .pre-header,
        .footer {
            max-width: 500px;
            background: #dddbf8;
            font-family: sans-serif;
            margin: 0px auto;
            overflow: hidden;
            border-radius: 5px;
        }

        .pre-header {
            background: #eee;
            color: #eee;
            font-size: 5px;
        }

        img {
            max-width: 100%;
        }

        h1,
        h2 {
            margin: 10px 30px;
        }

        p {
            margin: 20px;
            font-size: 18px;
            color: #222324;
            line-height: 1.5;
            font-weight: 300;
        }

        .confirm-email {
            text-align: center;
            margin: 20px;
            text-decoration: none;
            display: inline-block;
            background: #6558f5;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 20px;
        }

        .footer {
            background: none;
            text-align: center;
            padding: 20px;
            font-size: 14px;
        }

        .footer,
        a {
            text-decoration: none;
            color: #222324;
        }
    </style>
</head>

<body>
    <div class="email-background">
        <div class="pre-header">
            Une demande de réinitialisation de mot de passe a été émise depuis cette adresse.
        </div>
        <div class="email-container">
            <h1>Hello <%= @resource.email %>!</h1>
            <h2>
                Quelqu'un a demandé un lien pour réinitialiser le mot de passe du compte lié à cette adresse.
            </h2>
            <img src="https://media.giphy.com/media/6IPNUgkpCsDRK/source.gif" alt="Mot de passe oublié">
            <p>
                Si tu n'es pas à l'origine de cette demande, tu peux ignorer cet email.<br />
                Si c'est bien toi la tête en l'air, nous t'invitons à réinitialiser ton mot de passe en cliquant sur le lien ci-dessous.
            </p>
            <div class="confirm-email">
                <%= link_to 'Changer mon mot de passe.', edit_password_url(@resource, reset_password_token: @token) %><br />
            </div>
            </p>
            <p>Ton mot de passe ne sera pas changé tant que tu n'auras pas cliquer sur ce lien et créer un nouveau.</p>
            <p>Merci pour ta confiance.</p>
            <p>À très vite sur Feedward !</p>
        </div>
        <div class="footer">
            <a href="http://getfeedward.com/">Visiter le site</a> | <a href="mailto: contact@getfeedward.com">Nous
                contacter</a>
        </div>
    </div>
</body>

</html>