<!-- Navbar -->
<div class="navbar-section">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mr-5 nav-text-bold" href="<%= root_path %>"><img class="img-fluid" src="<%=asset_path("icons/Logo1_purple_full.png")%>" style="height:3rem;" alt="Feedward logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarColor01">
      <% if is_landing_page? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mr-4">
            <% unless user_signed_in? %>
            <a class="nav-link text-white" href="#readmore">En savoir plus</a>
            <% end %>
          </li>
          <li class="nav-item mr-4">
            <% unless user_signed_in? %>
            <a class="nav-link text-white" href="#howitwork">Comment ça marche?</a>
            <% end %>
          </li>
          <li class="nav-item mr-4 ">
            <% unless user_signed_in? || @hide_demo_button %>
            <a class="nav-link text-white" href="#demo">Demander une démo</a>
            <% end %>
          </li>
        </ul>
      
      <% end %>

      <ul class="navbar-nav  ml-auto">
        <% if user_signed_in? %>
            <% if current_user.is_company_admin || current_user.is_site_admin %>
              <ul class="navbar-nav--cus navbar-right">
                      <a class="nav-link--cus dropdown-toggle--cus"  data-toggle="notification-menu">
                          <i class="fas fa-bell dropdown-toggle--cus"  data-toggle="notification-menu"></i>
                          <% @count_noti= count_notifications_unread %>
                          <% if  @count_noti >= 9%>
                            <span class="navbar-badge dropdown-toggle--cus"  data-toggle="notification-menu">9+</span>
                          <% else %>
                            <span class="navbar-badge dropdown-toggle--cus"  data-toggle="notification-menu"><%=  @count_noti %></span>
                          <% end %>
                      </a>
                      
                  <%= render :partial => 'notifications/notification_menu'%>


              </ul>   
            <%end%>

              
            <ul class="navbar-nav">
              <% if current_user.is_site_admin %>
                  <li class="nav-item <%= active_class(admin_root_path) %>">
                    <a class="nav-link nav-text-bold" href="<%= admin_root_path%>" target="_blank">Admin</a>
                  </li>
              <% end %>
              <% if current_user.is_company_admin || current_user.is_site_admin %>
               <li class="nav-item <%= active_class(user_path(current_user.id)) %>">
                <a class="nav-link nav-text-bold" href="<%= user_path(current_user.id) %>">Dashboard Manager</a>
              </li>

              <% elsif current_user.is_validated %>
                <li class="nav-item <%= active_class(user_path(current_user.id)) %>">
                   <a class="nav-link nav-text-bold" href="<%= user_path(current_user.id) %>">Dashboard</a>
                </li>
              <% end %>

              <li class="nav-item <%= active_class(accounts_path) %>">
                <a class="nav-link nav-text-bold" href="<%= accounts_path %>">Mes infos</a>
              </li>

          <li class="nav-item">
            <a class="nav-link nav-text-bold" href="<%=destroy_user_session_path%>">Se déconnecter</a>
          </li>

        </ul>
        <% else %>
        <ul class="navbar-nav nav-account">
          <li class="nav-item nav-item--separate">
            <a class="nav-link nav-text-bold" href="<%=new_user_session_path%>">Se connecter</a>
          </li>
          <% if is_navbar_for_company? %>
          <li class="nav-item">
            <a class="nav-link nav-text-bold" href="<%=new_company_user_path%>">Essayer gratuitement</a>
          </li>

          <% else %>
              <li class="nav-item">
            <a class="nav-link nav-text-bold" href="<%=new_user_registration_path%>">S'inscrire</a>
          </li>

          <% end %>
        </ul>

        <% end %>
      </ul>
      </div>
    </div>
  </nav>
</div>
